<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Index Doc Title</title>
</head>

<body>
<p>
Index
</p>

<div id = "loginForm">
    <form action="/" method="post" onsubmit="return false">
        <fieldset>
            <label for="username">Username: </label>
            <input type="text" name="username" placeholder="username" id="usernameId"> <br/>
            <label for="password">Password: </label>
            <input type="text" name="password" placeholder="password" id="passwordId">
        <div class="form__submit-button">
            <button onclick="alertFunction()">Login</button>
        </div>

        </fieldset>
    </form>
</div> <br/>




    <script src="../public/index.js"></script>
</body>

</html>